@font-face {
    font-family: "Lato-Regular";
    src: url(../fonts/Lato-Regular.ttf    );
    font-weight: 400;
}
@font-face {
    font-family: "Oswald-Bold";
    src: url(../fonts/Oswald-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Oswald-Medium";
    src: url(../fonts/Oswald-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Oswald-Regular";
    src: url(../fonts/Oswald-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Poppins-Bold";
    src: url(../fonts/Poppins-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Poppins-ExtraBold";
    src: url(../fonts/Poppins-ExtraBold.ttf);
    font-weight: 800;
}
@font-face {
    font-family: "Poppins-Medium";
    src: url(../fonts/Poppins-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Poppins-Regular";
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}